In [1]:
import pandas as pd
import json
import requests
import glob

In [8]:
path = 'registration/json/'
for i in glob.glob(path + '*.json'):
    df = pd.read_json(path + 'Архив погоды в Архангельске.json', encoding='1251')
    df['registration_date'] = pd.to_datetime(df['registration_date'], yearfirst=True)
    df.to_json(i, orient='records', force_ascii=False, date_format='iso')

In [10]:
path = 'registration/json/'
df = pd.read_json(path + 'Архив погоды в Архангельске.json', encoding='utf-8')
df.head()

,registration_date,temperature,pressure_station_level,pressure,humidity,wind_direction_id,wind_speed,cloudiness_id,weather,visible_range,dew_point
0,2020-01-01T21:00:00.000Z,-9.2,749.5,750.3,95,1,2,1,Снег,21.0,-9.9
1,2020-01-01T18:00:00.000Z,-6.6,749.1,749.8,96,1,3,2,Снег,5.0,-7.2
2,2020-01-01T15:00:00.000Z,-5.3,747.7,748.5,96,1,3,2,Снег,10.0,-5.9
3,2020-01-01T12:00:00.000Z,-5.0,746.2,747.0,96,2,3,3,Дождь,10.0,-5.6
4,2020-01-01T09:00:00.000Z,-6.2,744.4,745.3,93,1,4,2,Снег,10.0,-7.1

In [4]:
df['registration_date'] = pd.to_datetime(df['registration_date'], yearfirst=True)

In [5]:
df.head()

,registration_date,temperature,pressure_station_level,pressure,humidity,wind_direction_id,wind_speed,cloudiness_id,weather,visible_range,dew_point
0,2020-01-01 21:00:00,-9.2,749.5,750.3,95,1,2,1,Снег,21.0,-9.9
1,2020-01-01 18:00:00,-6.6,749.1,749.8,96,1,3,2,Снег,5.0,-7.2
2,2020-01-01 15:00:00,-5.3,747.7,748.5,96,1,3,2,Снег,10.0,-5.9
3,2020-01-01 12:00:00,-5.0,746.2,747.0,96,2,3,3,Дождь,10.0,-5.6
4,2020-01-01 09:00:00,-6.2,744.4,745.3,93,1,4,2,Снег,10.0,-7.1

In [21]:
registration_to_rename = {
    "RegistrationDate": "registration_date",
    "Temperature": "temperature",
    "PressureStationLevel": "pressure_station_level",
    "Pressure": "pressure",
    "Humidity": "humidity",
    "WindDirectionId": "wind_direction_id",
    "WindSpeed": "wind_speed",
    "CloudinessId": "cloudiness_id",
    "Weather": "weather",
    "VisibleRange": "visible_range",
    "DewPoint": "dew_point"   
}

In [22]:
path = 'registration/json/'
for i in glob.glob(path + '*.json'):
    df = pd.read_json(path + 'Архив погоды в Архангельске.json', encoding='1251')
    df.rename(columns=registration_to_rename).to_json(i, orient='records', force_ascii=False)

In [20]:
df = pd.read_json(path + 'Архив погоды в Архангельске.json', encoding='1251')
df.rename(columns=registration_to_rename).to_json(i, orient='records', force_ascii=False)

,registration_date,temperature,pressure_station_level,pressure,humidity,wind_direction_id,wind_speed,cloudiness_id,weather,visible_range,dew_point
0,01.01.2020 21:00,-9.2,749.5,750.3,95,1,2,1,Снег,21.0,-9.9
1,01.01.2020 18:00,-6.6,749.1,749.8,96,1,3,2,Снег,5.0,-7.2
2,01.01.2020 15:00,-5.3,747.7,748.5,96,1,3,2,Снег,10.0,-5.9
3,01.01.2020 12:00,-5.0,746.2,747.0,96,2,3,3,Дождь,10.0,-5.6
4,01.01.2020 09:00,-6.2,744.4,745.3,93,1,4,2,Снег,10.0,-7.1

In [8]:
station_to_rename = {
    "StationName": "station_name",
    "Latitude": "latitude",
    "Longitude": "longitude",
    "Height": "height",
    "RegionId": "region_id",
    "OrganizationId": "organization_id"
}

In [12]:
df = pd.read_json('stations.json', encoding='1251')
df.rename(columns=station_to_rename, inplace=True)
df.to_json('stations.json', orient='records', force_ascii=False)

In [13]:
df = pd.read_json('stations.json', encoding='1251')
df.head()

,station_name,latitude,longitude,height,region_id,organization_id
0,Мурманск город,69.0,33.1,51,2,1
1,Архангельск город,64.4,40.7,8,3,1
2,Магадан город,59.6,150.8,116,4,1
3,Санкт-Петербург ИЦП,60.0,30.3,6,5,1
4,Нижний Новгород Мыза,56.3,44.0,157,6,1

In [11]:
df = pd.read_excel('stations.xlsx')
df.head()

            StationName  Latitude  Longitude  Height  RegionId  OrganizationId
0        Мурманск город      69.0       33.1      51         2               1
1     Архангельск город      64.4       40.7       8         3               1
2         Магадан город      59.6      150.8     116         4               1
3   Санкт-Петербург ИЦП      60.0       30.3       6         5               1
4  Нижний Новгород Мыза      56.3       44.0     157         6               1

In [13]:
df.to_json('stations.json', orient='records', force_ascii=False)

In [3]:
organizations = [
    {
        "OrganizationName" : "Центральное управление по гидрометеорологии и мониторингу окружающей среды",
        "Address": "ул. Образцова, д.6",
        "WebSite": "http://www.ecomos.ru/",
        "ParentOrganizationId": None,
        "LocalityId": 1
    },
    {
        "OrganizationName" : "Владимирский центр по гидрометеорологии и мониторингу окружающей среды",
        "Address": "ул. Стрелецкая, д. 20",
        "WebSite": None,
        "ParentOrganizationId": 1,
        "LocalityId": 2
    },
    {
        "OrganizationName" : "Рязанский центр по гидрометеорологии и мониторингу окружающей среды",
        "Address": " ул. Почтовая, д. 50, корп. 1",
        "WebSite": "http://meteo62.ru",
        "ParentOrganizationId": 1,
        "LocalityId": 2
    }
]

with open('organizations.json', 'w') as wr:
    json.dump(organizations, wr, indent=4, ensure_ascii=False)

In [14]:
countries = [
    {
        "CountryName": "Россия",
        "LandArea": 16377742,
        "WaterArea": 720500
    },
    {
        "CountryName": "Канада",
        "LandArea": 9093507,
        "WaterArea": 891163
    },
        {
        "CountryName": "Китай",
        "LandArea": 9326410,
        "WaterArea": 270550
    },
        {
        "CountryName": "США",
        "LandArea": 9147593,
        "WaterArea": 377424
    }
]

with open('countries.json', 'w') as wr:
    json.dump(countries, wr, indent=4, ensure_ascii=False)

In [6]:
russia_regions = [
    {
        "RegionName": "Москва и московская область"
    },
    {
        "RegionName": "Мурманская область"
    },
    {
        "RegionName": "Архангельская область"
    },
    {
        "RegionName": "Магаданская область"
    },
    {
        "RegionName": "Ленинградская область"
    },
    {
        "RegionName": "Нижегородская область"
    },
    {
        "RegionName": "Республика Татарстан"
    },
    {
        "RegionName": "Пензенская область"
    },
    {
        "RegionName": "Свердловская область"
    },
    {
        "RegionName": "Омская область"
    },
    {
        "RegionName": "Республика Башкортостан"
    },
    {
        "RegionName": "Самарская область"
    },
    {
        "RegionName": "Иркутская область"
    },
    {
        "RegionName": "Забайкальский край"
    },
    {
        "RegionName": "Хабаровский край"
    },
    {
        "RegionName": "Камчатский край"
    },
    {
        "RegionName": "Республика Крым"
    },
    {
        "RegionName": "Краснодарский край"
    }
]

with open('russia_regions.json', 'w') as wr:
    json.dump(russia_regions, wr, indent=4, ensure_ascii=False)

In [2]:
canada_regions = [
    {
        "RegionName": "Альберта"
    },
    {
        "RegionName": "Британская Колумбия"
    },
    {
        "RegionName": "Квебек"
    },
    {
        "RegionName": "Остров Принца Эдуарда"
    },
    {
        "RegionName": "Саскачеван"
    }
]

with open('canada_regions.json', 'w') as wr:
    json.dump(canada_regions, wr, indent=4, ensure_ascii=False)

In [3]:
china_regions = [
    {
        "RegionName": "Гуйчжоу"
    },
    {
        "RegionName": "Шэньси"
    },
    {
        "RegionName": "Хубэй"
    }
]

with open('china_regions.json', 'w') as wr:
    json.dump(china_regions, wr, indent=4, ensure_ascii=False)

In [5]:
usa_regions = [
    {
        "RegionName": "Айдахо"
    },
    {
         "RegionName": "Аризона"
    },
    {
        "RegionName": "Калифорния"
    }
]

with open('usa_regions.json', 'w') as wr:
    json.dump(usa_regions, wr, indent=4, ensure_ascii=False)

In [15]:
russia_locality = [
    {
        "LocalityName": "Москва"
    },
    {
        "LocalityName": "Владимир"
    },
    {
        "LocalityName": "Рязань"
    }
]

with open('russia_locality.json', 'w') as wr:
    json.dump(russia_locality, wr, indent=4, ensure_ascii=False)

In [ ]:
canada_locality = [
    
]

with open('canada_locality.json', 'w') as wr:
    json.dump(russia_locality, wr, indent=4, ensure_ascii=False)

In [ ]:
china_locality = [
    
]

with open('china_locality.json', 'w') as wr:
    json.dump(russia_locality, wr, indent=4, ensure_ascii=False)

In [ ]:
usa_locality = [
    
]

with open('usa_locality.json', 'w') as wr:
    json.dump(russia_locality, wr, indent=4, ensure_ascii=False)

In [1]:
df = pd.read_json('Stations.json', encoding='1251')

NameError: name 'pd' is not defined

In [2]:
df.head()

NameError: name 'df' is not defined

In [12]:
df.to_excel('stations.xlsx', index=False, columns=['StationName', 'Latitude', 'Longitude', 'Height'])

In [3]:
json.dump?