In [2]:
import pandas as pd
import json
import requests
import glob

In [6]:
df = pd.read_json('registration/json/Архив погоды в Вашингтоне.json', encoding='1251')
df['visible_range'].replace({'РјРµРЅРµРµ 0.1': 0.1}, inplace=True)

In [9]:
df.columns

Index(['registration_date', 'temperature', 'pressure_station_level',
       'pressure', 'humidity', 'wind_direction', 'wind_speed', 'cloudiness',
       'weather', 'visible_range', 'dew_point'],
      dtype='object')

In [10]:
for i in df['weather'].unique():
    print(len(i), i)

1
12 Р”С‹РјРєР°.
64 РўСѓРјР°РЅ РёР»Рё РѕР±СЂС‹РІРєРё Р»РµРґСЏРЅРѕРіРѕ С‚СѓРјР°РЅР°.
110 РњРѕСЂРѕСЃСЊ РЅРµР·Р°РјРµСЂР·Р°СЋС‰Р°СЏ РЅРµРїСЂРµСЂС‹РІРЅР°СЏ СЃР»Р°Р±Р°СЏ РІ СЃСЂРѕРє РЅР°Р±Р»СЋРґРµРЅРёСЏ.
108 Р”РѕР¶РґСЊ РЅРµР·Р°РјРµСЂР·Р°СЋС‰РёР№ РЅРµРїСЂРµСЂС‹РІРЅС‹Р№ СЃР»Р°Р±С‹Р№ РІ СЃСЂРѕРє РЅР°Р±Р»СЋРґРµРЅРёСЏ.
79 РЎРЅРµРі РЅРµРїСЂРµСЂС‹РІРЅС‹Р№ СЃР»Р°Р±С‹Р№ РІ СЃСЂРѕРє РЅР°Р±Р»СЋРґРµРЅРёСЏ.
114 Р”РѕР¶РґСЊ РЅРµР·Р°РјРµСЂР·Р°СЋС‰РёР№ РЅРµРїСЂРµСЂС‹РІРЅС‹Р№ СѓРјРµСЂРµРЅРЅС‹Р№ РІ СЃСЂРѕРє РЅР°Р±Р»СЋРґРµРЅРёСЏ.
10 РњРіР»Р°.
74 Р“СЂРѕР·Р°, РЅРѕ Р±РµР· РѕСЃР°РґРєРѕРІ, РІ СЃСЂРѕРє РЅР°Р±Р»СЋРґРµРЅРёСЏ.
110 Р”РѕР¶РґСЊ РЅРµР·Р°РјРµСЂР·Р°СЋС‰РёР№ РЅРµРїСЂРµСЂС‹РІРЅС‹Р№ СЃРёР»СЊРЅС‹Р№ РІ СЃСЂРѕРє РЅР°Р±Р»СЋРґРµРЅРёСЏ.
147 Р“СЂРѕР·Р° СЃР»Р°Р±Р°СЏ РёР»Рё СѓРјРµСЂРµРЅРЅР°СЏ Р±РµР· РіСЂР°РґР°, РЅРѕ СЃ РґРѕР¶РґРµРј Рё/РёР»Рё СЃРЅРµРіРѕРј РІ СЃСЂРѕРє РЅР°Р±Р»СЋРґРµРЅРёСЏ.
85 РЎРЅРµРі РЅРµРїСЂРµСЂС‹РІРЅС‹Р№ СѓРјРµСЂРµРЅРЅС‹Р№ РІ СЃСЂРѕРє РЅР°Р±Р»СЋРґРµРЅРёСЏ.
27 Р›РµРґСЏРЅР°СЏ РєСЂСѓРїР°.
81 РЎРЅРµРі РЅРµРїСЂРµСЂС‹РІРЅС‹Р№ СЃРёР»СЊРЅС‹Р№ РІ СЃСЂРѕРє РЅР°Р±Р»СЋРґРµРЅРёСЏ.
168 РЎР»Р°Р±Р°СЏ РёР»Рё СѓРјРµСЂРµРЅРЅР°СЏ СЃРЅРµР¶РЅР°СЏ РЅРёР·РѕРІР°СЏ РјРµС‚РµР»СЊ РІ С†РµР»РѕРј РІС‹СЃРѕРєР°СЏ (РІС‹С€Рµ СѓСЂРѕРІРЅСЏ РіР»Р°Р· РЅР°Р±Р»СЋРґР°С‚РµР»СЏ).
29 РЎРЅРµРі СѓРјРµСЂРµРЅРЅС‹Р№.
116 РњРѕСЂРѕСЃСЊ РЅРµР·Р°РјРµСЂР·Р°СЋС‰Р°СЏ РЅРµРїСЂРµСЂС‹РІРЅР°СЏ СѓРјРµСЂРµРЅРЅР°СЏ РІ СЃСЂРѕРє РЅР°Р±Р»СЋРґРµРЅРёСЏ.
230 РљР»РѕС‡СЊСЏ РїСЂРёР·РµРјРЅРѕРіРѕ РёР»Рё Р»РµРґСЏРЅРѕРіРѕ С‚СѓРјР°РЅР° РЅР° СЃС‚Р°РЅС†РёРё, РЅР° РјРѕСЂРµ РёР»Рё РЅР° СЃСѓС€Рµ, РІС‹СЃРѕС‚РѕР№ РЅРµ Р±РѕР»РµРµ 2 Рј РЅР°Рґ СЃСѓС€РµР№ РёР»Рё РЅРµ Р±РѕР»РµРµ 10 Рј РЅР°Рґ РјРѕСЂРµРј.
502 РџС‹Р»СЊ РёР»Рё РїРµСЃРѕРє, РїРѕРґРЅСЏС‚С‹Рµ РІРµС‚СЂРѕРј РЅР° РёР»Рё РІР±Р»РёР·Рё СЃС‚Р°РЅС†РёРё РІ СЃСЂРѕРє РЅР°Р±Р»СЋРґРµРЅРёСЏ, РЅРѕ РЅРµС‚ С…РѕСЂРѕС€Рѕ СЂР°Р·РІРёС‚РѕРіРѕ РїС‹Р»СЊРЅРѕРіРѕ РёР»Рё РїРµСЃС‡Р°РЅРѕРіРѕ РІРёС…СЂСЏ (РІРёС…СЂРµР№), Рё РЅРёРєР°РєРѕР№ РїС‹Р»СЊРЅРѕР№ РёР»Рё РїРµСЃС‡Р°РЅРѕР№ Р±СѓСЂРё РЅРµ РІРёРґРЅРѕ; РёР»Рё, РІ СЃР»СѓС‡Р°Рµ СЃРѕРѕР±С‰РµРЅРёСЏ СЃ СЃСѓРґРЅР° РёР»Рё СЃ Р±РµСЂРµРіРѕРІРѕР№ СЃС‚Р°РЅС†РёРё, Р±СЂС‹Р·РіРё, РїРµСЂРµРЅРѕСЃРёРјС‹Рµ РІРµС‚СЂРѕРј РЅР° СЃС‚Р°РЅС†РёРё.
76 Р”РѕР¶РґСЊ Р·Р°РјРµСЂР·Р°СЋС‰РёР№ СѓРјРµСЂРµРЅРЅС‹Р№ РёР»Рё СЃРёР»СЊРЅС‹Р№.
218 Р’РёРґРёРјРѕСЃС‚СЊ СѓС…СѓРґС€РµРЅР° РґС‹РјРѕРј, РЅР°РїСЂРёРјРµСЂ: РѕС‚ СЃС‚РµРїРЅС‹С… РёР»Рё Р»РµСЃРЅС‹С… РїРѕР¶Р°СЂРѕРІ, РїСЂРѕРјС‹С€Р»РµРЅРЅС‹С… РїСЂРµРґРїСЂРёСЏС‚РёР№ РёР»Рё РІСѓР»РєР°РЅРёС‡РµСЃРєРёРј РїРµРїР»РѕРј.

In [4]:
df.dtypes

registration_date          object
temperature               float64
pressure_station_level    float64
pressure                  float64
humidity                    int64
wind_direction              int64
wind_speed                  int64
cloudiness                  int64
weather                    object
visible_range              object
dew_point                 float64
dtype: object

In [8]:
df = pd.read_json('registration/json/Архив погоды в Вашингтоне.json', encoding='1251')
df['registration_date'] = pd.to_datetime(df['registration_date'], yearfirst=True)
df['visible_range'].replace({'РјРµРЅРµРµ 0.1': 0.1}, inplace=True)
df.to_json('registration/json/Архив погоды в Вашингтоне.json', orient='records', force_ascii=False, date_format='iso')

In [25]:
df.to_json()

In [24]:
df = pd.read_json('registration/json/Архив погоды в Вашингтоне.json', encoding='1251')
df.head(5)

,registration_date,temperature,pressure_station_level,pressure,humidity,wind_direction,wind_speed,cloudiness,weather,visible_range,dew_point
0,2020-01-01T19:00:00.000Z,3.9,751.3,759.7,43,16,2,1,,16.0,-7.8
1,2020-01-01T13:00:00.000Z,8.9,749.3,757.6,39,16,6,5,,16.0,-4.4
2,2020-01-01T07:00:00.000Z,2.2,748.6,757.0,67,16,2,3,,16.0,-3.3
3,2020-01-01T01:00:00.000Z,5.0,747.3,755.7,57,4,6,4,,16.0,-2.8
4,2019-12-31T19:00:00.000Z,8.3,746.3,754.6,48,4,6,3,,16.0,-2.2

In [21]:
new_station = {
    "Архив погоды в Вашингтоне.json": 19
}

with open('references/station_code.json', 'r', encoding='1251') as reader:
    stations = json.load(reader)
    stations['Архив погоды в Вашингтоне.json'] = 19
with open('references/station_code.json', 'w', encoding='1251') as writer:
    json.dump(stations, writer, indent=4, ensure_ascii=False)

In [17]:
new_station = {
    'station_name': 'Аэропорт Вашингтон', 
    'latitude': 38.9, 
    'longitude': -77.4, 
    'height': 93, 
    'region_id': 22, 
    'organization_id': 1
}

with open('references/Stations.json', 'r', encoding='1251') as reader:
    stations = json.load(reader)
    stations.append(new_station)
with open('references/Stations.json', 'w', encoding='1251') as writer:
    json.dump(stations, writer, indent=4, ensure_ascii=False)

In [8]:
path = 'registration/json/'
for i in glob.glob(path + '*.json'):
    df = pd.read_json(path + 'Архив погоды в Архангельске.json', encoding='1251')
    df['registration_date'] = pd.to_datetime(df['registration_date'], yearfirst=True)
    df.to_json(i, orient='records', force_ascii=False, date_format='iso')

In [10]:
path = 'registration/json/'
df = pd.read_json(path + 'Архив погоды в Архангельске.json', encoding='utf-8')
df.head()

,registration_date,temperature,pressure_station_level,pressure,humidity,wind_direction_id,wind_speed,cloudiness_id,weather,visible_range,dew_point
0,2020-01-01T21:00:00.000Z,-9.2,749.5,750.3,95,1,2,1,Снег,21.0,-9.9
1,2020-01-01T18:00:00.000Z,-6.6,749.1,749.8,96,1,3,2,Снег,5.0,-7.2
2,2020-01-01T15:00:00.000Z,-5.3,747.7,748.5,96,1,3,2,Снег,10.0,-5.9
3,2020-01-01T12:00:00.000Z,-5.0,746.2,747.0,96,2,3,3,Дождь,10.0,-5.6
4,2020-01-01T09:00:00.000Z,-6.2,744.4,745.3,93,1,4,2,Снег,10.0,-7.1

In [4]:
df['registration_date'] = pd.to_datetime(df['registration_date'], yearfirst=True)

In [5]:
df.head()

,registration_date,temperature,pressure_station_level,pressure,humidity,wind_direction_id,wind_speed,cloudiness_id,weather,visible_range,dew_point
0,2020-01-01 21:00:00,-9.2,749.5,750.3,95,1,2,1,Снег,21.0,-9.9
1,2020-01-01 18:00:00,-6.6,749.1,749.8,96,1,3,2,Снег,5.0,-7.2
2,2020-01-01 15:00:00,-5.3,747.7,748.5,96,1,3,2,Снег,10.0,-5.9
3,2020-01-01 12:00:00,-5.0,746.2,747.0,96,2,3,3,Дождь,10.0,-5.6
4,2020-01-01 09:00:00,-6.2,744.4,745.3,93,1,4,2,Снег,10.0,-7.1

In [21]:
registration_to_rename = {
    "RegistrationDate": "registration_date",
    "Temperature": "temperature",
    "PressureStationLevel": "pressure_station_level",
    "Pressure": "pressure",
    "Humidity": "humidity",
    "WindDirectionId": "wind_direction_id",
    "WindSpeed": "wind_speed",
    "CloudinessId": "cloudiness_id",
    "Weather": "weather",
    "VisibleRange": "visible_range",
    "DewPoint": "dew_point"   
}

In [22]:
path = 'registration/json/'
for i in glob.glob(path + '*.json'):
    df = pd.read_json(path + 'Архив погоды в Архангельске.json', encoding='1251')
    df.rename(columns=registration_to_rename).to_json(i, orient='records', force_ascii=False)

In [20]:
df = pd.read_json(path + 'Архив погоды в Архангельске.json', encoding='1251')
df.rename(columns=registration_to_rename).to_json(i, orient='records', force_ascii=False)

,registration_date,temperature,pressure_station_level,pressure,humidity,wind_direction_id,wind_speed,cloudiness_id,weather,visible_range,dew_point
0,01.01.2020 21:00,-9.2,749.5,750.3,95,1,2,1,Снег,21.0,-9.9
1,01.01.2020 18:00,-6.6,749.1,749.8,96,1,3,2,Снег,5.0,-7.2
2,01.01.2020 15:00,-5.3,747.7,748.5,96,1,3,2,Снег,10.0,-5.9
3,01.01.2020 12:00,-5.0,746.2,747.0,96,2,3,3,Дождь,10.0,-5.6
4,01.01.2020 09:00,-6.2,744.4,745.3,93,1,4,2,Снег,10.0,-7.1

In [8]:
station_to_rename = {
    "StationName": "station_name",
    "Latitude": "latitude",
    "Longitude": "longitude",
    "Height": "height",
    "RegionId": "region_id",
    "OrganizationId": "organization_id"
}

In [12]:
df = pd.read_json('stations.json', encoding='1251')
df.rename(columns=station_to_rename, inplace=True)
df.to_json('stations.json', orient='records', force_ascii=False)

In [13]:
df = pd.read_json('stations.json', encoding='1251')
df.head()

,station_name,latitude,longitude,height,region_id,organization_id
0,Мурманск город,69.0,33.1,51,2,1
1,Архангельск город,64.4,40.7,8,3,1
2,Магадан город,59.6,150.8,116,4,1
3,Санкт-Петербург ИЦП,60.0,30.3,6,5,1
4,Нижний Новгород Мыза,56.3,44.0,157,6,1

In [11]:
df = pd.read_excel('stations.xlsx')
df.head()

            StationName  Latitude  Longitude  Height  RegionId  OrganizationId
0        Мурманск город      69.0       33.1      51         2               1
1     Архангельск город      64.4       40.7       8         3               1
2         Магадан город      59.6      150.8     116         4               1
3   Санкт-Петербург ИЦП      60.0       30.3       6         5               1
4  Нижний Новгород Мыза      56.3       44.0     157         6               1

In [13]:
df.to_json('stations.json', orient='records', force_ascii=False)

In [3]:
organizations = [
    {
        "OrganizationName" : "Центральное управление по гидрометеорологии и мониторингу окружающей среды",
        "Address": "ул. Образцова, д.6",
        "WebSite": "http://www.ecomos.ru/",
        "ParentOrganizationId": None,
        "LocalityId": 1
    },
    {
        "OrganizationName" : "Владимирский центр по гидрометеорологии и мониторингу окружающей среды",
        "Address": "ул. Стрелецкая, д. 20",
        "WebSite": None,
        "ParentOrganizationId": 1,
        "LocalityId": 2
    },
    {
        "OrganizationName" : "Рязанский центр по гидрометеорологии и мониторингу окружающей среды",
        "Address": " ул. Почтовая, д. 50, корп. 1",
        "WebSite": "http://meteo62.ru",
        "ParentOrganizationId": 1,
        "LocalityId": 2
    }
]

with open('organizations.json', 'w') as wr:
    json.dump(organizations, wr, indent=4, ensure_ascii=False)

In [14]:
countries = [
    {
        "CountryName": "Россия",
        "LandArea": 16377742,
        "WaterArea": 720500
    },
    {
        "CountryName": "Канада",
        "LandArea": 9093507,
        "WaterArea": 891163
    },
        {
        "CountryName": "Китай",
        "LandArea": 9326410,
        "WaterArea": 270550
    },
        {
        "CountryName": "США",
        "LandArea": 9147593,
        "WaterArea": 377424
    }
]

with open('countries.json', 'w') as wr:
    json.dump(countries, wr, indent=4, ensure_ascii=False)

In [6]:
russia_regions = [
    {
        "RegionName": "Москва и московская область"
    },
    {
        "RegionName": "Мурманская область"
    },
    {
        "RegionName": "Архангельская область"
    },
    {
        "RegionName": "Магаданская область"
    },
    {
        "RegionName": "Ленинградская область"
    },
    {
        "RegionName": "Нижегородская область"
    },
    {
        "RegionName": "Республика Татарстан"
    },
    {
        "RegionName": "Пензенская область"
    },
    {
        "RegionName": "Свердловская область"
    },
    {
        "RegionName": "Омская область"
    },
    {
        "RegionName": "Республика Башкортостан"
    },
    {
        "RegionName": "Самарская область"
    },
    {
        "RegionName": "Иркутская область"
    },
    {
        "RegionName": "Забайкальский край"
    },
    {
        "RegionName": "Хабаровский край"
    },
    {
        "RegionName": "Камчатский край"
    },
    {
        "RegionName": "Республика Крым"
    },
    {
        "RegionName": "Краснодарский край"
    }
]

with open('russia_regions.json', 'w') as wr:
    json.dump(russia_regions, wr, indent=4, ensure_ascii=False)

In [2]:
canada_regions = [
    {
        "RegionName": "Альберта"
    },
    {
        "RegionName": "Британская Колумбия"
    },
    {
        "RegionName": "Квебек"
    },
    {
        "RegionName": "Остров Принца Эдуарда"
    },
    {
        "RegionName": "Саскачеван"
    }
]

with open('canada_regions.json', 'w') as wr:
    json.dump(canada_regions, wr, indent=4, ensure_ascii=False)

In [3]:
china_regions = [
    {
        "RegionName": "Гуйчжоу"
    },
    {
        "RegionName": "Шэньси"
    },
    {
        "RegionName": "Хубэй"
    }
]

with open('china_regions.json', 'w') as wr:
    json.dump(china_regions, wr, indent=4, ensure_ascii=False)

In [5]:
usa_regions = [
    {
        "RegionName": "Айдахо"
    },
    {
         "RegionName": "Аризона"
    },
    {
        "RegionName": "Калифорния"
    }
]

with open('usa_regions.json', 'w') as wr:
    json.dump(usa_regions, wr, indent=4, ensure_ascii=False)

In [15]:
russia_locality = [
    {
        "LocalityName": "Москва"
    },
    {
        "LocalityName": "Владимир"
    },
    {
        "LocalityName": "Рязань"
    }
]

with open('russia_locality.json', 'w') as wr:
    json.dump(russia_locality, wr, indent=4, ensure_ascii=False)

In [ ]:
canada_locality = [
    
]

with open('canada_locality.json', 'w') as wr:
    json.dump(russia_locality, wr, indent=4, ensure_ascii=False)

In [ ]:
china_locality = [
    
]

with open('china_locality.json', 'w') as wr:
    json.dump(russia_locality, wr, indent=4, ensure_ascii=False)

In [ ]:
usa_locality = [
    
]

with open('usa_locality.json', 'w') as wr:
    json.dump(russia_locality, wr, indent=4, ensure_ascii=False)

In [1]:
df = pd.read_json('Stations.json', encoding='1251')

NameError: name 'pd' is not defined

In [2]:
df.head()

NameError: name 'df' is not defined

In [12]:
df.to_excel('stations.xlsx', index=False, columns=['StationName', 'Latitude', 'Longitude', 'Height'])

In [3]:
json.dump?